.acf-title-container{
    font-size: 14px;
  }

/* .acf-bullet-container {
  list-style: none; 
  counter-reset: li;
  padding: 0px !important;
} */

.before-title-style{
  font-size: 14px;
}

.after-title-style{
  font-size: 14px;
}

.title-style{
  font-size: 14px;
}

.title2-style{
  font-size: 14px;
}

.bullet-style {
  /* content: counter(li);  */
  color: white;
  display: inline-block; 
  line-height: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: blue;
  margin-right: 10px;
}

.bullet-circle .bullet-style{
  border-radius: 50%;
}

/* .acf-bullet-container li {
  counter-increment: li;
  margin-bottom: 10px !important;
  display: flex;
} */

/*
  ****
  contact form
  ****
*/
 /* @media all and (min-width:981px) {
  
}
@media all and (max-width:980px){

}

@media all and (max-width:400px){
  .mrc_short_field_label_mobile{
    float: none;
    min-height: 40px;
  }
  .mrc_short .mrc_short_field_not_full_width {
    max-width: 25%;
}
} */

.mrc_short label{
	font-size: 14px;
}

.mrc_short_form .mrc_short_form_label {
  display:none !important;
}

/* .mrc_short_field_not_full_width select {
  width: 350%;
  margin-left: 50%;
} */

.mrc_short_field_not_full_width label {
  display: flex;
  align-items: center;
}

.mrc_short .mrc_short_field_full_width {
  width: 100%;
  max-width: 100%;
}

.mrc_short .mrc_short_field_not_full_width {
  float: left;
}

input .mrc_shortform_validate_field {
  width: 50%;
}

.acf_button{
  background-image: linear-gradient(#ff9b00, #ff8400);
  background: #ff9000;
  color: white;
  font-size: 14px;
  width: 100%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}

.acf_button:hover {
  background-image: linear-gradient(#ffab00, #ff7400) !important;
  background: #ffa300 !important;
  
}

.acf_button:active {
  background: #ff7c00 !important;
  background-image: linear-gradient(#ff7400, #ffab00) !important;
}
.acf_button .acf_custom_button_icon:hover {
  padding: .3em 2em .3em .7em;
  border: 2px solid transparent;
}
.acf_button.acf_custom_button_icon:after {
  position: absolute;
  margin-left: -1em;
  opacity: 0;
  text-shadow: none;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  font-variant: none;
  line-height: 1em;
  text-transform: none;
  content: "";
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  font-family: "ETmodules";
}
.acf_button:before{
  display:none
}
.acf_button.acf_custom_button_icon:hover:after{
  margin-left: 0;
  opacity: 1;
}
.acf_button.acf_custom_button_icon:after {
  content:attr(data-icon) " ";
}
div .acf_button_container{
  float: right;
  margin: 0 auto;
  width: 50%;
  height: 35px;
}

.mrc_short_field_options_title{
  display: none;
}

.mrc_short_field_radio{
  margin-right: 10%;
}

input[type="radio"] {
  display: none;
}
/* simulate radiobutton appearance using pseudoselector */
input[type="radio"] + label:before {
  content: "";
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  margin-right: 5px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
}

/* appearance of checked radiobutton */
input[type="radio"]:checked + label:before {
  background-color: #2196F3;
  border: 1px solid #2196f3;
}

/* resetting default box-sizing */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.has-error {
  border-color: red !important;
}

.has-error:before{
  border-color: red !important;
} 

.mrc_short_error_text {
  left: 0;
  color: red;
  position: absolute;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.acf-short-message{
  position: relative;
}

.switch-field {
	display: flex;
	/* overflow: hidden; */
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
  overflow: hidden;
}

.switch-field label {
	background-color: #ffffff;
	color: #2a618f;
  font-size: 15px;
  font-weight: 500px;
	line-height: 1;
	text-align: center;
  padding: 16px;
  width: 89px;
	margin-right: -1px;
	border: 1px solid #999999;
	border-radius: 3px;
  transition: all 0.1s ease-in-out;
  display: block;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input[type="radio"] + label:before {
	display: none;
}

.switch-field input:checked + label {
  background-color: #2a618f;
  color: #ffffff;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

label#mrc_health_saving_gender_label:before {
  font-size: 18px;
  content: '1. ';
  color: #c40c56;
  font-weight: 600;
}
label#mrc_health_saving_birthdate_label:before {
  font-size: 18px;
  content: '2. ';
  color: #c40c56;
  font-weight: 600;
}
label#mrc_health_saving_zipcode_label:before {
  font-size: 18px;
  content: '3. ';
  color: #c40c56;
  font-weight: 600;
}

label#mrc_health_saving_zipcode_label,
label#mrc_health_saving_birthdate_label,
label#mrc_health_saving_gender_label {
  font-size: 18px;
  color: #222222;
  font-weight: 600;
}

.mrc_health_savings_form {
  display: flex;
}

input#mrc_short_datepicker_birthdate {
  padding: 12px;
  border: solid 1px #999999;
  border-radius: 3px;
  font-size: 15px;
  width: 170px;
  height: 48.5px;
}

input[type=date]:invalid::-webkit-datetime-edit {
  color: #888888;
}

input#mrc_short_input_zipcode {
  padding: 16px;
  border: solid 1px #999999;
  border-radius: 3px;
  font-size: 15px;
  width: 170px;
}

.mrc_health_savings_container {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

button#health-savings-hero-button {
  border: none;
  font-size: 18px;
  padding: 14.5px 22px;
  color: #ffffff;
  font-weight: 600;
  background: #ff8800;
  border-radius: 5px;
  min-width: 184px;
  height: 49px;
}

button#health-savings-hero-button:hover {
  background: #ffa300!important;
}

.mrc_short .mrc_health_savings_form .mrc_short_field_not_full_width {
  float: none;
}

form.mrc_health_savings_form > div {
  margin-right: 36px;
}

form.mrc_health_savings_form div.mrc_health_savings_container {
  margin-right: 0;
}

.mrc_health_savings_form_container .mrc_short {
  display: flex;
  justify-content: center;
}

p#mrc_health_saving_zipcode_p,
p#mrc_health_saving_birthdate_p,
p#mrc_health_saving_gender_p {
  padding-bottom: 0;
}

@media (min-width: 768px) {
  form.mrc_health_savings_form > div {
    margin-right: 15px;
  }
}

@media (min-width: 1024px) {
  form.mrc_health_savings_form > div {
    margin-right: 36px;
  }
}

@media (max-width:768px){
  .mrc_health_savings_form {
    flex-direction: column;
  }
  form.mrc_health_savings_form > div {
    margin-right: 0;
    margin-top: 36px;
  }
  input#mrc_short_datepicker_birthdate,
  input#mrc_short_input_zipcode,
  button#health-savings-hero-button {
    min-width: 200px;
    width: 200px;
  }

  .switch-field label {
    width: 100px;
  }
}